body {
    color: white;
    background-color: rgb(27, 103, 218);
    background-image: url("../images/background.png");
    font-family: " Arial";
  }
  
  p {
    font-size: 20px; border: 2px ; border-radius: 2px;
  }
  
  .btn {
    background-color: rgb(25, 53, 212);
  }
  
  #hauva {
    font-size: 48px;
  }