
p {
    font-size: 12px; border: 2px ; border-radius: 2px;
}

#karu {
    background-color:cornflowerblue;
}

footer {
    padding: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;
}






#dog-image {
    width: 600px;
    cursor: pointer;
    transition: transform 0.2s;
   max-width: 100%;
 
  }

  #dog-image:active {
    transform: scale(1.5);
  }

 .container {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 70px;
    color: white;
 }
 body {
    background-color:cornflowerblue;
 }
  
