p {
    font-size: 20px; border: 2px ; border-radius: 2px;
}

#karu {
    background-color:cornflowerblue;
}

footer {
    padding: 1em;
    color: white;
    background-color: cornflowerblue;
    clear: left;
    text-align: center;
}

img {
    max-width: 100%;
    object-fit: contain;
}

#map {
    height: 300px;
    width: 500px;
}

#dogs {
    height: 400px;
    width: 100%;
  
}
.container {
    text-align: center;
}