p {
    font-size: 12px; border: 2px ; border-radius: 2px;
}

#karu {
    background-color:cornflowerblue;
}

footer {
    padding: 1em;
    color: white;
    background-color: cornflowerblue;
    clear: left;
    text-align: center;
}



#map {
    height: 300px;
    width: 500px;
}

#dogs {
    height:200px;
    width: 400px;
    
}
